assert(ZygorGuidesViewer,"Zygor Guides Viewer failed to load.")
ZygorGuidesViewer.revision = tonumber(string.sub("$Revision: $WCREV$ $", 12, -3))
ZygorGuidesViewer.version = "2.0." .. ZygorGuidesViewer.revision
ZygorGuidesViewer.date = string.sub("$Date: $WCDATE$ $", 8, 17)
--$WCNOW$
