ZygorTalentAdvisor.revision = tonumber(string.sub("$Revision: $WCREV$ $", 12, -3))
ZygorTalentAdvisor.version = "2.0." .. ZygorTalentAdvisor.revision
ZygorTalentAdvisor.date = string.sub("$Date: $WCDATE$ $", 8, 17)
--$WCNOW$
